header {
    text-align: center;
}

body {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    margin: 1em auto;
}

.tile {
    flex: 1 0 auto;
    background-color: white;
    border: 1px solid black;
}

.tiles_container {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}